# ASP.NET build / debug output
obj/
bin/
*.pdb
*.user
*.vspscc
*.vssscc
*.cache
*.log
*_i.c
*_p.c
*.ilk
*.meta
*.msi
*.msm
*.msp
*.obj
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vs/
