@model Rastreador_de_Gastos.Models.Category

@{
    ViewData["PageTitle"] = Model.CategoryId == 0? "Criar uma nova categoria" : "Editar categoria";
}

<div class="row">
    <div class="col-md-7">
        <div class="widget p-5" style="background-color:#212b36">
            <form asp-action="AddOrEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="CategoryId" value="@Model.CategoryId" />
                <div class="mb-3">
                    <div class='e-btn-group custom-rbt-group'>
                        <input type="radio" id="radioleft" name="Type" value="Despesa" checked="@(Model.Type=="Despesa")" />
                        <label class="e-btn" for="radioleft">Despesa</label>
                        <input type="radio" id="radiomiddle" name="Type" value="Renda" checked="@(Model.Type=="Renda")" />
                        <label class="e-btn" for="radiomiddle">Renda</label>
                    </div>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="title" name="Title" placeholder="Titulo" ejs-for="Title" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Title" class="text-danger fs-6"></span>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="icon" name="Icon" placeholder="Ícone" ejs-for="Icon" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Icon" class="text-danger fs-6"></span>
                </div>
                <ejs-button id="submit" type="submit" cssClass="e-success" content="Enviar"></ejs-button>
            </form>
        </div>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>
</div>

@*
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

*@
